<%- include('partials/header.ejs') %>

    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <table class="table table-striped table-hover table-bordered text-center">
                    
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Nombre</th>
                            <th>Acción</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% content.forEach(book => { %>
                            <tr>
                                <td><%= book.title %></td>
                                <td><%= book.name %></td>
                                <td>
                                    <a href="/books/updateBook/<%= book.id %>" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                                    <a href="/books/deleteBook/<%= book.id %>" class="btn btn-danger"><i class="bi bi-eraser-fill"></i></a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs') %>