<%- include('partials/header.ejs') %>

    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <table class="table table-striped table-hover table-bordered text-center">
                    
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Nombre</th>
                            <th>Acción</th>
                        </tr>
                    </thead>

                    <tbody>

                        <%content.forEach(data => {%>

                            <% if(data.author_name != '' || data.author_name != null){ %>

                                <tr>
                                    <td><%= data.title %></td>
                                    <td><%= data.author_name %></td>
                                    <td>
                                        <% if(data.key){  %>
                                            <a href="addNewBook/<%= data.key.split("/")[2] %>" class="btn btn-success"><i class="bi bi-plus-circle"></i></a>
                                        <% } %>
                                    </td>
                                </tr>

                            <% } %>
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs') %>