<%- include('partials/header.ejs') %>

    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h3 class="mb-4">Escribe la siguiente información</h3>

                <% content.forEach( data => { %>
                    <form action="" method="post">
                        <div class="form-group mb-3">
                            <label for="title" class="form-label">Título</label>
                            <input type="text" name="title" id="title" class="form-control" placeholder="Escribe el título de tu libro" autocomplete="off" value="<%= data.title %>">
                        </div>

                        <div class="form-group mb-3">
                            <label for="author" class="form-label">Autor</label>
                            <select class="form-select" aria-label="Default select example" id="author" name="author">
                                <option value="<%= data.author_id %>" selected> <%= data.name %> </option>
                                    
                                <% authors.forEach(author => { %>
                                    <option value="<%= author.id %>"><%= author.name %></option>
                                <% }) %>

                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label for="description" class="form-label">Descripción</label>
                            <textarea name="description" id="description" class="form-control"  placeholder="Escribe la descripción de tu libro" rows="5"><%= data.description %></textarea>
                            </textarea>
                        </div>
                        
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary" style="width: 100%;">Actualizar libro</button>
                        </div>
                    </form>

                <% }) %>
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs') %>